* {
    background-color:;
}

#bar {
    height: 7px;
    background-color: black;
    margin-bottom: 25px;
}

#calendar {
    margin: 0 10%;
}

td.cellTime {
    width: 10%;
    height: 60px;
    font-weight: bold;
    text-align: right;
    border-right: 3px solid grey;
    border-top: 1px solid lightgrey;
}

td.cellTask {
    height: 75px;
    background-color: lightgreen;
}

td.cellSave {
    width: 10%;
    background-color: steelblue;
    border-left: 3px solid darkblue;
    text-align: center;
    vertical-align: middle;
}

td.cellSave:hover, td.cellTask:hover {
    opacity: 85%;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input {
    font-size: 14px;
    height: 60px;
    width: 100%;
    padding-left: 10px;
    word-wrap: normal;
    background-color: transparent;
    border: none;
}