* {
    obackground-color: black;
}

#bar {
    height: 7px;
    background-color: black;
    margin-bottom: 25px;
}

#calendar {
    margin: 0 15%;
}

td.cellTime {
    width: 15%;
    height: 75px;
    font-weight: bold;
    text-align: right;
}

td.cellTask {
    height: 75px;
    background-color: lightgray;
}
td.cellSave {
    width: 10%;
    height: 75px;
    background-color: steelblue;
    text-align: center;
    vertical-align: middle;
}

table {
    border-collapse: separate;
}

td {
    border: solid 1px white;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

